@media (min-width: 0px) and (max-width: 768px){
     #stackbar1, #stackedbar2 {
          display:none;
     }
}

@media (min-width: 768px) {
    #smstack1, #smstack2{
        display:none;
    }
}

#stackbar1, #stackedbar2, #smstack1{
  text-align:center;
}

#wardmap{
    float: left;
    margin: 0 0 10px 10px;

}

.ward-title {
	font-weight:bold;
	font-size:20px;
	text-align:left;
	margin: 0px;
}

#wardmap {
    max-width: 80%;
    max-height: 180px;
    width: auto\9; /* ie8 */
}


.wiki-subtitle {
    text-align:left;
    margin:0px;
    font-size: 10px;
    line-height:10px;
  }


.axis text {
    font: 10px sans-serif;
}

.legend text {
    font: 10px sans-serif;
  }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
        height: 100%;
      }