/*All Styles*/
body {
	background-color:#EFF0F1;
	font:Palatino,serif;
	color: #3C3C3C;
}

a {
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:inherit;
}

/*Header*/
.navbar {
	background-color:#EFF0F1;
	text-align:center;
}
.logo img{
	display:block;
	margin:0 auto;
	text-align:center;
}

.headerlist{
	text-align:center;
	margin:10px 0 10px -40px;
}

.headerlist li{
	display:inline;
	color: #E62B2B;
	line-height:5%;
	margin:0px 20px 10px 20px;
}

.headerlist li:hover {
	color:#FFFFFF;
	text-decoration:none; 
    cursor:pointer; 
}

/*Main Text*/
.content {
	padding-top:200px;
}

.about {
	text-align:left;
	padding:0px 0 0 5px;
	color:#262626;
	line-height:10%;
}

hr {
	color:#E62B2B;
	background-color:#E62B2B;
	height:1px;
	border:0;
}

.lead {
	text-align:left;
	padding:0 0 0 30px;
	line-height:30%;
}

.summary{
	text-align:left;
	padding:20px 0 0 30px;
}

.contact{
	text-align:left;
	padding:0 0 0 30px;
}

/*Sidebar*/
.sidebar, .sidebar li{
	text-align:left;
	color:#262626;
	font-weight: bold;
	list-style-type:none;
}

.sidebar > li:first-child{
	margin: 0 0 30px 0;
}

.fa-ul, .fa-ul li{
	list-style-position: inside;
	text-align:left;
	font-weight: normal;
	font-size: 12px;
	margin: 5px 0 0 0;
}

.fa-ul li:hover{
	color:#FFFFFF;
	text-decoration:none; 
    cursor:pointer; 
}



