.btn-content {
  text-align: center;
  margin-bottom:10px;
}

#brewbar {
  text-align:center;
}
#brewbar2 {
  text-align:center;
}

#brewbar #brewbar2 .label{
    font: 12px sans-serif;
  }

#brewbar #brewbar2 .axis path,
#brewbar #brewbar2 .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

#brewbar #brewbar2, .legend text{
    font: 11px sans-serif;
  }

.Xaxis path,
.Xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.Xaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

.iframe {
  text-align:center;
}