#rankbar rect:hover{
        fill: orange;

}

#rankbar{
	text-align:center;
}

#fm-dc-map{
	margin:auto;
	width:80%;
	height:500px;
}

#iw {
	width:200px;
	text-align: left;
	font-family: 'Neuton', serif;
	font-size: 14px;
	color: #505050;
}

#iw #iw-title {
	text-align: center;
	font-family: 'Neuton', serif;
	font-size: 16px;
	color: #505050;
	background-color: #48b5e9;
}

.bar {
    fill: #53CFCF;
    }
 
.label{
    font: 12px sans-serif;
  }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

text{
    font: 9px sans-serif;
  }