/*All Styles*/
/*All Styles*/
/*All Styles*/
body {
	background-color:#EFF0F1;
	font-family: 'Neuton', serif;
	font-size: 18px;
	color: #505050;
}

a {
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:inherit;
}

.xsheader, .smheader {
	background-color:#F8F8F8;
}

/*XS screens - Header*/
/*XS screens - Header*/
/*XS screens - Header*/
@media (min-width: 0px) and (max-width: 768px){
     .smheader, .side {
          display:none;
     }

     .xsheader {
     	background-color:#EFF0F1;
     }

	.navbar-custom, .navbar-custom li {
	text-align:left;
	font-size: 16px;
	color:#262626;
	font-weight: bold;
	list-style-type: none;
	padding-left:0;
	}

	.navbar-custom li:hover {
	color:#FFFFFF;
	text-decoration:none; 
    cursor:pointer; 
	}

	/*#main-navbar-custom, #main-navbar-custom li {
	margin: 10px 0 0 0;
	padding-left:0;
	}*/

	.dropdown-pull-right{
  	float: right !important;
  	right: 0;
  	left: auto;
	}

	.dropdown-pull-right > .dropdown-menu {
    right: 0;
    left: auto;
 	}

	.content {
	text-align:left;
	padding:10px 20px 0 30px;
	}

	.contenttop{
		text-align:left;
		padding:10px 20px 0 30px;
		font-size: 22px;
		line-height:20px;
	}
 }

 /*Small+ screens - Header*/
 /*Small+ screens - Header*/
 /*Small+ screens - Header*/
@media (min-width: 768px) {
    .xsheader {
        display:none;
    }

    .navbar {
	background-color:#FCFCFC;
	text-align:center;
	border:0px;
	}

	.logo img{
	display:block;
	margin:0 auto;
	text-align:center;
	}

	.headerlist{
	text-align:center;
	margin:10px 0 10px -40px;
	}

	.headerlist li{
	display:inline;
	color: #E62B2B;
	line-height:5%;
	margin:0px 20px 10px 20px;
	}

	.headerlist li:hover {
	color:#505050;
	text-decoration:none; 
    cursor:pointer; 
	}

/*Small+ screens - sidebar*/
/*Small+ screens - sidebar*/
/*Small+ screens - sidebar*/
	.sidebar, .sidebar li{
	text-align:left;
	color:#262626;
	font-weight: bold;
	list-style-type:none;
	}

	/*.sidebar > li:first-child{
	margin: 0 0 30px 0;
	}*/

	.insidebar, .insidebar li{
	list-style-position: inside;
	text-align:left;
	font-weight: normal;
	font-size: 14px;
	line-height:0;
	}

	.nav-stacked > li > a {
	padding-top:10px; 
    padding-bottom:10px;
    height: 16px;
    margin:0 0 0 -30px;
	}

	.insidebar li:hover{
	color:#FFFFFF;
	text-decoration:none; 
    cursor:pointer; 
	}

	.content {
	text-align:left;
	padding:10px 20px 0 75px;
	}

	.contenttop{
		text-align:left;
		padding:10px 20px 0 75px;
		font-size: 22px;
		line-height:20px;
	}
}

/*Main Text*/
/*Main Text*/
/*Main Text*/
h2 {
	text-align:left;
	margin:0 0 12px 5px;
	color:#262626;
	line-height:10%;
}


h3 {
	text-align:left;
	margin: 5px 0 0 30px;
	font-size:14px;
}

#top-line {
	color:#E62B2B;
	background-color:#E62B2B;
	height:2px;
	border:0;
	margin:0;
}

.lead {
	text-align:left;
	padding:20px 0 0 30px;
	line-height:30%;
}

.link {
	color: #E62B2B;
}

.link:hover {
	color:#FFFFFF;
	text-decoration:none; 
    cursor:pointer; 
}

/*Main Text Graphics and Rankings*/
/*Main Text Graphics and Rankings*/
/*Main Text Graphics and Rankings*/
.graph-title {
	font-weight:bold;
	font-size:20px;
	text-align:center;
	margin: 0px;
}

.graph-subtitle {
	text-align:center;
	margin:0px;
	font-size: 14px;
	line-height:14px;
}

#map-canvas{
	margin:auto;
	width:90%;
	height:380px;
}

#infowindow {
	width:200px;
	text-align: left;
	background-color:#EFF0F1;
	font-family: 'Neuton', serif;
	font-size: 14px;
	color: #505050;
}

.ranking {   
    -moz-column-width: 15em; /* Firefox */
    -webkit-column-width: 15em; /* webkit, Safari, Chrome */
    column-width: 15em;
}

.ranking ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ranking ul li:first-child {
    margin-top:0px;
}

.content ul li:first-child {
    padding-top:0px;
}

IMG.scatter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height:auto; }

#end-line {
	color:#E62B2B;
	background-color:#E62B2B;
	height:2px;
	border:0;
	margin:0 75px;
	width:auto;  
}