
@media (min-width: 0px) and (max-width: 768px){
  #map {  width:500px; height:500px; margin:auto;}
  }
@media (min-width: 768px) {
  #map {  width:700px; height:500px; margin:auto;}
  }

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:30%;
  text-align:center;
  font-size:9px;
  color:black;
  }

.axis path,
.axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      
.axis text,
.legend text {
        font-family: 'Neuton', serif;
        font-size: 14px;
        color: #505050;
      }

.totalTicket, .TickperCar {
  text-align: center;
}