@media (min-width: 0px) and (max-width: 768px){
     #barchart2, #heatmap {
          display:none;
     }
}

@media (min-width: 768px) {
    #smheatmap {
        display:none;
    }
}

.bar {
    fill: #53CFCF;
    }

.axis text {
    font: 10px sans-serif;
  }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

text.axis-workweek {
    fill: #000;
  }

text.axis-worktime {
    fill: #000;
  }

#barchart1, #barchart2, #heatmap, #smheatmap{
	text-align:center;
}

#barchart2 rect:hover, #barchart1 rect:hover {
        fill: orange;

}
