<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <title>DataLensDC</title>

  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">

  <link href='./CSS/main.css' rel='stylesheet' type='text/css'>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script> 
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.12.0/d3-legend.min.js"></script>

  <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDez_nj2eHP6b_mhMR1fn2Df2_jm-py41M"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
    integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin="">
  </script>

    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/CSS/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src='/JS/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

</head>


<body>
<div class='wrapper'>
  <div class="header">
    <p id="smallName"><a href="https://www.datalensdc.com/">DataLensDC</a></p>
    <ul class="headerlistIconML">
      <li><a href="https://www.datalensdc.com/" id="dldc">DataLensDC</a></li>
      <li><a href="mailto:datalensdc@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/dataKateR" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/katerabinowitz" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>

    <hr id='top-line'>

    <ul class="headerlistIconS">
      <li><a href="mailto:datalensdc@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      <li><a href="https://twitter.com/dataKateR" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/katerabinowitz" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>

    <ul class ="headerlistText">
      <li><a href="https://www.datalensdc.com/about.html">about</a></li>
      <li><a href="https://www.datalensdc.com/archive.html">archive</a></li>
    </ul>

  </div>

    {{content}}
  
  <div class="footer">
    <p>a <a href="https://www.datakater.com/">Kate Rabinowitz</a> production</p>
  </div>

</div>
</body>
</html>